<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link href="/css/style.css"  th:herf="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
  <div class="threeColumn">
      <form action="#" th:action="@{/result}" th:object="${calculator}" method="post">
          <p class="number">数値<br><input type="number" th:field="*{number1}" name="number1"></p>
          <div>+</div>
          <p class="number">数値<br><input type="number" th:field="*{number2}" name="number2"></p>
          <p><input type="submit" name="送信"></p>
          <p><input type="reset" name="リセット"></p>
      </form>
  </div>
</body>
</html>